@font-face {
  font-family: "Hurme Geometric Sans";
  src: url("HurmeGeometricSans1\ Light.otf");
  font-weight: 300;
}

@font-face {
  font-family: "Hurme Geometric Sans";
  src: url("HurmeGeometricSans1\ SemiBold.otf");
  font-weight: 500;
}

@font-face {
  font-family: "Hurme Geometric Sans";
  src: url("HurmeGeometricSans1\ Bold.otf");
  font-weight: 700;
}
